{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'styles/moderator_login.css' %}">
</head>
<body>
  <div class="guest">
    <h1>Guest Dashboard </h1>
    <h2>welcome {{user.username}}</h2>
    <a href="{% url 'visitor_logout' %}">Logout</a>
    <h1>VIDEO LIVE STREAM</h1>
      <div>
        <h2>Camera Stream</h2>
        <img src="{% url 'webcam' %}" width="640" height="480" alt="feeds">
      </div>
  </div>
</body>
</html>
