.guest{
  background:lavender;
  margin:0;
  padding:0;
  box-sizing:border-box;
  width:100%;
  height:100vh;
}
h1{
   text-align:center;
   font-family:"Roboto", sans-serif;
   font-size:40px;
   padding:20px;
   margin:10px;
  
}
a{
 
 color:white;
  background:blue;
  border-radius:10px;
  padding:8px;
  width:20px;
  margin-left:10px;
  margin-right:10px;
text-decoration:none;
cursor:pointer;

}
a:hover{
  background:lightblue;
  color:black;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fc;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: #334e68;
}