body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.login-container {
    width: 100%;
    height:100vh;
    display:flex;
    flex-direction:row;

}

h2 {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom:20px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size:30px;
    white-space: nowrap;
    width: 0;
    animation: typing 24s steps(70, end) forwards;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

/* Optional blinking cursor animation (replace with your desired style) */
.typed::after {
    content: "|";
    animation: blink 24s infinite alternate;
}

@keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
    padding:4px;
    font-weight:bold;
}

input[type="text"],
input[type="password"] {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 50%;
    padding: 10px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top:16px;
    margin-left:86px;
    font-weight:bold;
}

button:hover {
    background-color: rgb(50, 126, 228);
}

.box-1{
    width:50%;
    height:100%;
    background:lavender;
    display:flex;
    position:absolute;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

.box2{
    width:50%;
    height:100%;
    left:50%; 
    position:absolute;
}

.input-group{
    width:70%;
    margin:20px auto;
}

.form-div{
    width:100%;
    padding:20px;
}

img{
    width:100%;
    height:100%;
}

span{
    padding:10px;
    margin:5px;
    margin-left:10px;
    text-decoration:none;
    font-family:"Roboto", sans-serif;
    font-weight:normal;
}

a{
    text-decoration:none;
    padding:10px;   
}

.btn-div{
    display:flex;
    padding:10px;
}